$primary: #ff6d05;

@import "~bootstrap/scss/bootstrap";

$cart-item-height: 5rem;

* {
  font-size: 14px;
}

i {
  pointer-events: none;
}

main {
  margin-top: 100px;
}

.td-none {
  text-decoration: none !important;
}

.btn-primary {
  color: #fff !important;
}

.font-2 {
  font-size: 1.2rem;
}

.navbar-top {
  height: 24px;
  font-size: 0.9rem;
  background-color: #f6f6f6;
  padding: 0 1rem;
}
.navbar-main {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
}
.navbar-main .nav-item:not(:last-child) {
  margin-right: 1rem;
}
@media (min-width: 576px) {
  .navbar-top {
    padding: 0 2rem;
  }
  .navbar-main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .navbar-top {
    padding: 0 3rem;
  }
  .navbar-main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.navbar-top .navbar-nav .nav-link {
  padding: 0 0.5rem;
}
.navbar-light .navbar-nav .nav-link {
  &:hover,
  &:focus {
    color: $primary;
  }
}
.navbar .nav-item {
  display: flex;
  place-items: center;
}
.navbar-brand {
  padding: 0;
  margin-right: 0;
}
.navbar-brand img {
  height: 60px;
}
.navbar-search {
  width: calc(66% - 20px);
}
@media (min-width: 992px) {
  .navbar-search {
    width: calc(50% - 20px);
  }
}
.navbar .nav-link i {
  font-size: 1.2rem;
}

.input-group .btn {
  border: 1px solid #ced4da;
  border-left: none;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
  }
}
.input-group .form-control {
  border-right: none;
}
.input-group .form-control:focus + .btn {
  border-color: $primary;
}
.form-control,
.form-select {
  border-radius: 0;
  &:focus {
    box-shadow: none;
  }
}
.form-control:focus,
.form-select:focus {
  border-color: $primary;
}

.btn,
.card {
  border-radius: 0;
}

.navbar-cart-icon {
  position: relative;

  span {
    position: absolute;
    top: -3px;
    right: 2px;
    border-radius: 100px;
    padding: 3px 6px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  max-width: 400px;
  box-shadow: -4px 0 16px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 1100;
  transition: width 0.3s ease-in-out;
}
.sidebar.open {
  width: 90%;
}
.sidebar-cart {
  display: flex;
  flex-direction: column;
}
.sidebar-cart-header {
  padding: 0.66rem 1.25rem;
  position: relative;
}
.cart-close {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
}
.sidebar-cart-body {
  flex-grow: 1;
  overflow: auto;
}
.sidebar-cart-footer {
  height: 70px;

  button {
    place-items: center;
  }
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  height: $cart-item-height;
  overflow: hidden;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.cart-item-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-right: 0.5rem;
}
.cart-item-details {
  width: calc(100% - 6rem);
  overflow: hidden;
}
.cart-item-title {
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
}
.cart-item-unit {
  font-size: 0.75rem;
}
.cart-item-price {
  color: $primary;
  display: grid;
  place-content: center;
  width: 4rem;
  margin-left: 0.5rem;
}
.cart-item-remove {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: $secondary;
  &:hover {
    color: $danger;
  }
}
.cart-tool-btn {
  border: none;
  padding: 0;
  background: inherit;
  width: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  i {
    font-size: 0.85rem;
  }
}
.cart-tool-btn-left {
  text-align: left;
}
.cart-tool-btn-right {
  text-align: right;
}

.login {
  margin-top: 140px;
  h4 {
    text-align: center;
    margin-top: 40px;
  }
  .card {
    width: 90%;
    max-width: 360px;
    margin: auto;
  }
  .register-card {
    max-width: 600px;
  }
  .btn-login {
    width: 100%;
  }
}

.category-menu {
  max-height: 320px;

  ul {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    padding: 0.25rem 0.66rem;
    padding-left: 0;
    width: 100%;
    color: #333;
    display: flex;
    place-items: center;
    justify-content: space-between;

    &:hover {
      color: $primary;
    }

    i.right {
      transition: all 0.2s;
      font-size: 0.85rem;
    }
  }
}
.category-menu > .card-body {
  overflow: auto;
  // Scrollbar styling for firefox
  scrollbar-color: #888 #e0e0e0;
  scrollbar-width: thin;
}
.category-menu > .card-body::-webkit-scrollbar {
  width: 8px;
}
.category-menu > .card-body::-webkit-scrollbar-track {
  background: #e0e0e0;
}
.category-menu > .card-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.category-menu > .card-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.category-item {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.category-sub-menu {
  height: 0;
  overflow: hidden;
  padding-left: 1.3rem !important;
  transition: all 0.2s;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.category-item.open > .category-sub-menu {
  height: auto;
}
.category-item.open > .nav-link {
  color: $primary;

  > i.right {
    transform: rotate(90deg);
  }
}

.carousel-item img {
  height: 360px;
  object-fit: cover;
}
@media (min-width: 992px) {
  .category-menu {
    max-height: 480px;
    height: 480px;
  }
  .carousel-item img {
    height: 480px;
  }
}
@media (min-width: 768px) {
  .category-menu {
    max-height: 420px;
    height: 420px;
  }
  .carousel-item img {
    height: 420px;
  }
}

.product-card {
  position: relative;
}
.sale-percentage {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $primary;
  color: #fff;
  border-bottom-left-radius: 0.5rem;
  padding: 0.25rem;
}
.product-card div {
  text-align: center;
}
.product-card img {
  height: 120px;
  object-fit: contain;
}
.product-card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card-price span {
  font-size: 1.2rem;
  font-weight: 600;
  color: $primary;
}
.product-card-price span.sale {
  text-decoration: line-through;
  font-size: 1rem;
  color: $secondary;
}
.product-card-footer .add-to-cart-btn {
  width: 100%;
  height: 100%;
}
.add-to-cart-btn {
  background-color: $primary;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken($primary, 5%);
  }
}
.product-card-tools {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.4rem;
}
.product-tool-btn {
  border: none;
  padding: 0.5rem;
  min-width: 40px;
  background: inherit;
  width: 1rem;
  background-color: $primary;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken($primary, 5%);
  }

  &:disabled {
    background-color: lighten($primary, 20%);
    cursor: not-allowed;
  }

  i {
    font-size: 1rem;
  }
}

.in-cart {
  .add-to-cart-btn {
    display: none;

    + div {
      display: flex;
    }
  }
}
