$primary: #ff6d05;

@import "~bootstrap/scss/bootstrap";
@import "~@splidejs/splide/dist/css/splide.min.css";

// NOTE: Z-indexes
// .sidebar => 1100
// .loader-backdrop: 11000

$cart-item-height: 5rem;

* {
  font-size: 14px;
}

body {
  background-color: #f2f2f2;
}

i {
  pointer-events: none;
}

main {
  margin-top: 160px;
}
@media (min-width: 768px) {
  main {
    margin-top: 120px;
  }
}

.td-none {
  text-decoration: none !important;
}

.btn-primary {
  color: #fff !important;
}
.btn-wide {
  width: 100%;
}

.font-2 {
  font-size: 1.2rem;
}

.navbar-top {
  height: 24px;
  font-size: 0.9rem;
  background-color: #f6f6f6;
  padding: 0 1rem;
}
.navbar-main {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff;
}
.navbar-main .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 1rem;
}
@media (min-width: 576px) {
  .navbar-top {
    padding: 0 2rem;
  }
  .navbar-main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 768px) {
  .navbar-top {
    padding: 0 3rem;
  }
  .navbar-main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.navbar-top .navbar-nav .nav-link {
  padding: 0 0.5rem;
}
.navbar-light .navbar-nav .nav-link {
  &:hover,
  &:focus {
    color: $primary;
  }
}
.navbar .nav-item {
  display: flex;
  place-items: center;
}
.navbar-brand {
  padding: 0;
  margin-right: 0;
}
.navbar-brand img {
  height: 60px;
}
.navbar-search {
  width: calc(66% - 20px);
}
@media (min-width: 992px) {
  .navbar-search {
    width: calc(50% - 20px);
  }
}
.navbar .nav-link i {
  font-size: 1.2rem;
}

.input-group .btn {
  border: 1px solid #ced4da;
  border-left: none;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: #fff;
  }
}
.input-group .form-control {
  border-right: none;
}
.input-group .form-control:focus + .btn {
  border-color: $primary;
}
.search-group .form-control {
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
}
.form-control,
.form-select {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  &:focus {
    box-shadow: none;
  }
}
.form-control:focus,
.form-select:focus {
  border-color: $primary;
}
.was-validated .form-control:invalid:focus,
.was-validated .form-select:invalid:focus,
.form-control.is-invalid:focus,
.form-select.is-invalid:focus {
  box-shadow: none;
}

.btn,
.card {
  border-radius: 0;
}

.card {
  border: none;
}

.navbar-cart-icon {
  position: relative;

  span {
    position: absolute;
    top: -3px;
    right: 2px;
    border-radius: 100px;
    padding: 3px 6px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  max-width: 400px;
  box-shadow: -1px 0 16px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1100;
  transition: width 0.3s ease-in-out;
}
.sidebar.open {
  width: 90%;
}
.sidebar-cart {
  display: flex;
  flex-direction: column;
}
.sidebar-cart-header {
  padding: 0.66rem 1.25rem;
  position: relative;
}
.cart-close {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
}
.sidebar-cart-body {
  flex-grow: 1;
  overflow: auto;
}
.sidebar-cart-footer {
  height: 70px;

  button {
    place-items: center;
  }
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  height: $cart-item-height;
  overflow: hidden;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.cart-item-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-right: 0.5rem;
}
.cart-item-details {
  width: calc(100% - 6rem);
  overflow: hidden;
}
.cart-item-title {
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
}
.cart-item-unit {
  font-size: 0.75rem;
}
.cart-item-price {
  color: $primary;
  display: grid;
  place-content: center;
  width: 4rem;
  margin-left: 0.5rem;
}
.cart-item-remove {
  cursor: pointer;
  display: grid;
  place-content: center;
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: $secondary;
  &:hover {
    color: $danger;
  }
}
.cart-tool-btn {
  border: none;
  padding: 0;
  background: inherit;
  width: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  i {
    font-size: 0.85rem;
  }
}
.cart-tool-btn-left {
  text-align: left;
}
.cart-tool-btn-right {
  text-align: right;
}

.login {
  margin-top: 140px;
  h4 {
    text-align: center;
    margin-top: 40px;
  }
  .card {
    width: 90%;
    max-width: 360px;
    margin: auto;
  }
  .register-card {
    max-width: 600px;
  }
}

.navbar-category-dropdown {
  position: absolute;
  top: calc(100% - 11px);
  left: 0;
  width: 240px;
  background-color: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  display: none;
}
.nav-link[data-category-dropdown]:hover + .navbar-category-dropdown,
.navbar-category-dropdown:hover {
  display: block;
}
.navbar-category-dropdown .category-sub-menu {
  width: calc(100% - 1rem);
}
.category-menu,
.navbar-category-dropdown {
  max-height: 320px;

  ul {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    padding: 0.25rem 0.66rem;
    padding-left: 0;
    width: 100%;
    color: #333;
    display: flex;
    place-items: center;
    justify-content: space-between;

    &:hover {
      color: $primary;
    }

    i.right {
      transition: all 0.2s;
      font-size: 0.85rem;
    }
  }
}
.category-menu > .card-body,
.navbar-category-dropdown {
  overflow: auto;
  // Scrollbar styling for firefox
  scrollbar-color: #888 #e0e0e0;
  scrollbar-width: thin;
}
.category-menu > .card-body::-webkit-scrollbar,
.navbar-category-dropdown::-webkit-scrollbar {
  width: 8px;
}
.category-menu > .card-body::-webkit-scrollbar-track,
.navbar-category-dropdown::-webkit-scrollbar-track {
  background: #e0e0e0;
}
.category-menu > .card-body::-webkit-scrollbar-thumb,
.navbar-category-dropdown::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.category-menu > .card-body::-webkit-scrollbar-thumb:hover,
.navbar-category-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.category-item {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.category-sub-menu {
  height: 0;
  overflow: hidden;
  padding-left: 1.3rem !important;
  transition: all 0.2s;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.category-item.open > .category-sub-menu {
  height: auto;
}
.category-item.open > .nav-link {
  color: $primary;

  > i.right {
    transform: rotate(90deg);
  }
}

.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: stretch;
}
@media (min-width: 576px) {
  .carousel-item img {
    height: 360px;
    object-fit: cover;
  }
}
@media (min-width: 992px) {
  .category-menu {
    max-height: 480px;
    height: 480px;
  }
  .navbar-category-dropdown {
    max-height: 480px;
  }
  .carousel-item img {
    height: 480px;
  }
}
@media (min-width: 768px) {
  .category-menu {
    max-height: 420px;
    height: 420px;
  }
  .navbar-category-dropdown {
    max-height: 420px;
  }
  .carousel-item img {
    height: 420px;
  }
}

.product-card {
  position: relative;
}
.sale-percentage {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $primary;
  color: #fff;
  border-bottom-left-radius: 0.5rem;
  padding: 0.25rem;
}
.product-card div {
  text-align: center;
}
.product-card img {
  height: 120px;
  object-fit: contain;
}
.product-card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-card-price span {
  font-size: 1.2rem;
  font-weight: 600;
  color: $primary;
}
.product-card-price span.sale {
  text-decoration: line-through;
  font-size: 1rem;
  color: $secondary;
}
.product-card-footer {
  height: 2.2rem;
}
.product-card-footer .add-to-cart-btn {
  width: 100%;
  height: 100%;
}
.add-to-cart-btn {
  background-color: $primary;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken($primary, 5%);
  }
}
.product-card-tools {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}
.product-tool-btn {
  border: none;
  padding: 0.5rem;
  min-width: 40px;
  background: inherit;
  width: 1rem;
  height: 2.2rem;
  background-color: $primary;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken($primary, 5%);
  }

  &:disabled {
    background-color: lighten($primary, 20%);
    cursor: not-allowed;
  }

  i {
    font-size: 1rem;
  }
}

.in-cart {
  .add-to-cart-btn {
    display: none;

    + div {
      display: flex;
    }
  }
}

.splide__slide {
  width: 180px;
  padding-left: calc(1.3rem * 0.5);
  padding-right: calc(1.3rem * 0.5);
}
@media (min-width: 576px) {
  .splide__slide {
    width: 220px;
  }
}

.loader-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #00000010;
  z-index: 11000;
  display: grid;
  place-items: center;
}
// SECTION: Loading spinner (by @lukehaas)
.loader {
  color: $primary;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
